<div class="body-login">

    <div class="login">

        <form action="" class="login__form">
<!--             <h1 class="login__title"><strong>Iniciar sesión</strong></h1> -->

            <div class="col-md-12">
                <div class="form-floating">
                    <input type="email" class="form-control rounded-pill" id="email" placeholder="Email" name="email"
                        [(ngModel)]="email" required>
                    <label for="email"><i class="ri-mail-fill me-2"></i> Email</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="password" class="form-control rounded-pill" id="contrasena" name="password"
                        [(ngModel)]="password" placeholder="Contraseña" required>

                    <label for="contrasena"><i class="ri-lock-2-fill me-2"></i> Contraseña</label>
                </div>
            </div>

            <div *ngIf="mensajeLogin" class="alert alert-danger" style="white-space: pre-line;">
                {{ mensajeLogin }}
            </div>

            <button type="submit" class="btn btn-azul rounded-pill mt-3 py-2" value="Loguear"
                (click)="loguearUsuario()">Iniciar sesión</button>


            <div class="login__register">
                ¿No tienes una cuenta? <a href="/registro">Regístrate</a>
            </div>

        </form></div>


</div>