

main{
    height: 86vh;
    width: 100%;
    background-image: url('https://th.bing.com/th/id/R.7114e608d31cc45b93c20ddfe661d10d?rik=G2xXohJVJDGzpQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fatos-logo-png-file-atos-svg-1024.png&ehk=xX3qicXIU37M1uIUvbrkI9482RqXKMg29YrKYCPaeFQ%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 70%; /* x y */
}