
.underline-title {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .underline-title::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 150%; 
    height: 3px; 
    background-color: #FFA500;
  }
  .animacion {
  transition: transform 0.3s ease; /* Añade una transición suave */
}

/* Animación al hover */
.animacion:hover {
  transform: scale(1.05); /* Aumenta el tamaño del card un 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Añade una sombra más pronunciada al hover */
}

.lista-casas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.casa-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  background-color: #f9f9f9;
}

.no-casas {
  color: #777;
  font-style: italic;
}

.modal-lg {
  max-width: 1000px; /* Ajusta el ancho máximo */
}

.modal-content {
  border-radius: 15px; /* Bordes redondeados */
}

.modal-header {
  border-bottom: none; /* Elimina la línea inferior del encabezado */
}