<div class="body-login ">
    <div class="login " style="max-width: 600px; width: 100%;">
        <img src="/recursos/casa.png" alt="image"
            class="login__bg position-absolute top-0 start-0 w-100 h-100 object-fit-cover opacity-50 z-n1 rounded-3">

        <form (ngSubmit)="registrarUsuario($event)" class="login__form d-flex flex-column gap-3 my-4" #registroForm="ngForm">
            <h1 class="login__title fs-2"><strong>Crea tu cuenta</strong></h1>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-pill" id="nombre" placeholder="Nombre" required
                            name="nombre" [(ngModel)]="nombre">
                        <label for="nombre"><i class="ri-user-3-fill me-2"></i> Nombre</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-pill" id="apellidos" placeholder="Apellidos"
                            required name="apellidos" [(ngModel)]="apellidos">
                        <label for="apellidos"><i class="ri-user-3-fill me-2"></i> Apellidos</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-pill" id="dni" placeholder="DNI" name="dni"
                            [(ngModel)]="dni" required>
                        <label for="dni"><i class="ri-id-card-fill me-2"></i> DNI</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" class="form-control rounded-pill" id="email" placeholder="Email"
                            name="email" [(ngModel)]="email" required>
                        <label for="email"><i class="ri-mail-fill me-2"></i> Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="tel" class="form-control rounded-pill" id="telefono" placeholder="Teléfono"
                            name="telefono" [(ngModel)]="telefono" required>
                        <label for="telefono"><i class="ri-phone-fill me-2"></i> Teléfono</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-pill" id="sede" placeholder="Sede" name="sede"
                            [(ngModel)]="sede" required>
                        <label for="sede"><i class="ri-map-pin-fill me-2"></i> Sede</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-pill" id="cuentaBancaria" name="cuenta_bancaria"
                            placeholder="Cuenta Bancaria">
                        <label for="cuentaBancaria"><i class="ri-bank-card-fill me-2"></i> Cuenta Bancaria</label>
                        <div class="form-text text-muted text-center">Dato necesario en caso de querer alquilar casa
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-pill" id="contrasena" name="password"
                            [(ngModel)]="password" placeholder="Contraseña" required>

                        <label for="contrasena"><i class="ri-lock-2-fill me-2"></i> Contraseña</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-pill" id="confirmarContrasena" name=""
                            placeholder="Repite la contraseña" required>
                        <label for="confirmarContrasena"><i class="ri-lock-2-fill me-2"></i> Repite la
                            contraseña</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary rounded-pill mt-3" value="Registrar">Crear cuenta</button>

            <!-- <button type="submit" class="btn btn-primary rounded-pill mt-3" value="Registrar"
                (click)="registrarUsuario()">Crear cuenta</button> -->

            <!--             <strong *ngIf="registrado">
                <p class="text-success">{{mensajeRegistro}}</p>
            </strong> -->

            <div class="login__register mt-2">
                ¿Ya tienes una cuenta? <a href="#" class="text-decoration-none">Inicia sesión</a>
            </div>
        </form>

    </div>
</div>