<main>
    <div class="container py-4">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">¡Bienvenido, <span class="text-primary">+ nombre</span>! </h3>
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-3 text-muted">Información personal</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-user-line me-2 text-primary">Nombre: </i>   {{nombreUsuario}} 
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-user-3-line me-2 text-primary">Apellidos: </i> {{apellidosUsuario}}
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-id-card-line me-2 text-primary">DNI: </i> {{dniUsuario}}
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-mail-line me-2 text-primary">Correo electrónico: </i> {{gmailUsuario}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0 shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-3 text-muted">Acciones disponibles</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-lock-password-line me-2 text-warning"></i>
                                    <a href="#" class="text-decoration-none">Cambiar contraseña</a>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-edit-line me-2 text-warning"></i>
                                    <a href="#" class="text-decoration-none">Editar perfil</a>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-home-line me-2 text-warning"></i>
                                    <a href="#" class="text-decoration-none">Gestionar mis casas</a>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <i class="ri-calendar-line me-2 text-warning"></i>
                                    <a href="/reserva" class="text-decoration-none">Reservar casa</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Componente de mis casas-->
        <app-mis-casas></app-mis-casas>
    </div>
</main>


