<section class="hero text-white text-center d-flex justify-content-center align-items-center min-vh-100" style="background: linear-gradient(to right, #007BFF, #FFA500);">
    <div class="container">
        <h1 class="display-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Lo sentimos, has cometido un error y no has podido acceder a donde querias <i class="bi bi-house-door-fill color: white"></i>
        </h1>
        <p class="lead" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
            Intentalo de nuevo        </p>
        <a href="/" class="btn btn-lg" style="background-color: #FFA500; color: white;">Volver a home</a>
    </div>
</section>