<footer class="fondoFooter ">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col text-start">
                <div>
                    <i class="ri-building-2-fill"></i><strong>Proyecto Toledo</strong>
                </div>
                <div>
                    <i class="ri-group-2-fill"></i>Alberto, Anastasia, Irene, Javier y Miguel
                </div>
            </div>
            <div class="col text-center">
                <div>
                    <img src="https://th.bing.com/th/id/R.7114e608d31cc45b93c20ddfe661d10d?rik=G2xXohJVJDGzpQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fatos-logo-png-file-atos-svg-1024.png&ehk=xX3qicXIU37M1uIUvbrkI9482RqXKMg29YrKYCPaeFQ%3d&risl=&pid=ImgRaw&r=0"
                        alt="image" width="90" height="30" class="me-2">
                    <img src="https://freepngdesign.com/content/uploads/images/p-1699-5-angular-icon-logo-png-transparent-logo-473615905138.png"
                        alt="image" width="50" height="37">
                </div>
            </div>
            <div class="col text-end">
                <div>
                    <strong><span>© Atos - 2025</span></strong>
                </div>
                <div>
                    <span>Todos los derechos reservados</span>
                </div>
            </div>
        </div>
    </div>
</footer>