<footer class="fondoFooter ">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col text-start">
                <div>
                    <i class="ri-building-2-fill"></i><strong>Proyecto Toledo</strong>
                </div>
                <div>
                    <i class="ri-group-2-fill"></i>Alberto, Anastasia, Irene, Javier y Miguel
                </div>
            </div>
            <div class="col text-center">
                <div>
                    <a href="https://instagram.com" target="_blank" class="mx-2 text-decoration-none text-dark">
                        <i class="bi bi-instagram fs-4"></i>
                    </a>
                    <a href="https://linkedin.com" target="_blank" class="mx-2 text-decoration-none text-dark">
                        <i class="bi bi-linkedin fs-4"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank" class="mx-2 text-decoration-none text-dark">
                        <i class="bi bi-twitter fs-4"></i>
                    </a>
                    <a href="https://github.com" target="_blank" class="mx-2 text-decoration-none text-dark">
                        <i class="bi bi-github fs-4"></i>
                    </a>
                    <a href="https://whatsapp.com" target="_blank" class="mx-2 text-decoration-none text-dark">
                        <i class="bi bi-whatsapp fs-4"></i>
                    </a>
                </div>
            </div>
            <div class="col text-end">
                <div>
                    <strong><span>© Atos - 2025</span></strong>
                </div>
                <div>
                    <span>Todos los derechos reservados</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
  .fondoFooter{
    background-color: #9acef8;
  }


</style>