
#section-banner-home{
/* background: linear-gradient(to right, #007BFF, #FFA500);
 */background: linear-gradient(to right, var(--color-azul), var(--color-amarillo));

}

main {
    scroll-behavior: smooth;
}

/* Contenedor carrusel de fuera */
#houseCarousel{
    text-align: center;
    padding: 10px;
}

/* Contenedor de cada item */
.carousel-item{
    background-color: transparent;
}

/* imagenes deltro de cada item */
.carousel-item img{
    min-height: 40vh;
    max-height: 40vh;

    object-fit: cover;
}