<main class="bg-white">

    <!--Contenedor1: Inicial para buscar casas -->
    <section class="hero text-white text-center py-5" style="background: linear-gradient(to right, #007BFF, #FFA500);">
        <div class="container">
            <h1 class="display-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Encuentra tu hogar ideal entre compañer&#64;s</h1>
            <p class="lead" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Alquila
                casas de confianza dentro de tu empresa</p>
            <a href="/login" class="btn btn-lg" style="background-color: #FFA500; color: white;">Accede ahora</a>
        </div>
    </section>

    <!-- Contenedor 2: Buscador de casas, aunque haria falta que funcionase ¿API?-->
    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Busca tu
                próxima casa</h2>
            <form class="row g-3">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Ciudad o zona">
                </div>
                <div class="col-md-4">
                    <select class="form-select">
                        <option selected>Tipo de vivienda</option>
                        <option>Casa</option>
                        <option>Piso</option>
                        <option>Habitación</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary w-100">Buscar</button>
                </div>
            </form>
        </div>
    </section>

    <!--Contenedor con imágenes de diferentes casas-->
    <section class="hero text-white text-center py-5" style="background: linear-gradient(to right, #FFA500, #007BFF);">
        <div class="container">
            <h1 class="mb-4 text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Algunas de las casas que te puedes encontrar
            </h1>
            <div id="houseCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://th.bing.com/th/id/OIP.LI10QlIBObb93mdYFKubCgHaE7?cb=iwp1&rs=1&pid=ImgDetMain" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 1"> 
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/OIP.Zb8J0yYKwpakUAE6u8kKGAHaE8?w=290&h=194&c=7&r=0&o=7&cb=iwp1&pid=1.7&rm=3" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://img.100r.systems/img/6c7eb8d37721a2d0d0cd39b62ca69e81.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/OIP.hw0usxJgDZ3e-bPAROcvjgHaGb?cb=iwp1&rs=1&pid=ImgDetMain" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 4">
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/OIP.RVNrpgjUhBeY63UjTCai5gHaFj?cb=iwp1&rs=1&pid=ImgDetMain" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 5">
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/R.f58b94e2eb5a99c6ddab2e4a15b106b7?rik=eWSjR4aLLtZQAw&pid=ImgRaw&r=0" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 6">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.elmueble.com/medio/2022/02/25/00533684_4fb1e665_2000x1333.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 6">
                    </div>
                    <div class="carousel-item">
                        <img src="https://s1.eestatic.com/2023/03/28/actualidad/751935526_231999332_1706x960.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Casa 6">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="hero text-white text-center py-5" style="background: linear-gradient(to right, #007BFF, #FFA500);">
        <div class="container">
            <h1 class="mb-4 text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                ¿En qué ciudades nos puedes encontrar?
            </h1>
            <div id="houseCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn.fodors.com/wp-content/uploads/2017/11/Madrid-Hero.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Madrid">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Madrid</h3>
                            <p>La capital de España, llena de historia y cultura.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.vacationpass.com/wp-content/uploads/Madrid-Toledo-Depositphotos_63299249_original.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Toledo">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Toledo</h3>
                            <p>Conocida como la ciudad de las tres culturas.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/R.75d046b144ba9366ac159614cfeebf59?rik=34P7hopi%2fhQT1Q&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f5%2fb%2f5%2f1087960-beautiful-barcelona-city-wallpapers-3840x2160-for-retina.jpg&ehk=aj%2fsRunIz8cyvqkNIQyJ9B%2bVYw%2b0ARBe9bFLKgjC%2fkA%3d&risl=&pid=ImgRaw&r=0" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Barcelona">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Barcelona</h3>
                            <p>Famosa por su arquitectura modernista y playas.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/R.c2a91d2690168d9acfca32291211ef69?rik=whfYdVC%2fiFa26g&pid=ImgRaw&r=0" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Sevilla">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Sevilla</h3>
                            <p>La ciudad del flamenco y la Giralda.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/OIP.hPcHj2qw2Rm9HFTA2RVF5wHaFa?cb=iwp1&rs=1&pid=ImgDetMain" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Granada">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Cuenca</h3>
                            <p>Hogar idoneo para disfrutar del invierno.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://th.bing.com/th/id/R.c5524b94c6de45faa3ae300897b2aa01?rik=Lg20UStjtvWWTw&pid=ImgRaw&r=0" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Valencia">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Valencia</h3>
                            <p>Conocida por su Ciudad de las Artes y las Ciencias.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://3.bp.blogspot.com/-xFDcDO8uNAE/U0Fl9qO2QBI/AAAAAAAABVM/7BUegL8zBD8/s1600/DSCF1329.JPG" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="Bilbao">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Gijón</h3>
                            <p>Disfruta de sus paseos cerca de la playa.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://turismo20.com/wp-content/uploads/2020/01/La-Coruna.jpg" width="40%" height="40p%" class="d-block mx-auto img-fluid" alt="La Coruña">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>La Coruña</h3>
                            <p>Una ciudad costera con vistas espectaculares.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contenedor 3: Ventajas donde mostramos los motivos para usar nuestra web y compartir casas-->
    <section class="bg-light py-5">
        <div class="container">
            <h1 class="mb-4 text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">¿Por qué
                usar nuestra plataforma?</h1>
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>Confianza</h3>
                    <i class="ri-user-follow-fill" style="font-size:xxx-large " id="estiloIconos"></i>
                    <p>Solo empleados verificados pueden publicar.</p>
                </div>
                <div class="col-md-4">
                    <h3>Ahorro</h3>
                    <i class="bi-m bi-piggy-bank background-color:" style="font-size:xxx-large " id="estiloIconos"></i>
                    <p>Precios más bajos sin intermediarios.</p>
                </div>
                <div class="col-md-4">
                    <h3>Comunidad</h3>
                    <i class="ri-team-fill" style="font-size:xxx-large " id="estiloIconos"></i>
                    <p>Fomenta relaciones dentro de la empresa.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contenedor 4: Testimonios -->
    <section class="py-5 bg-light">
        <div class="container">
            <h1 class="mb-4 text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                Lo que dicen nuestros usuarios
            </h1>
            <div id="carouselExampleAutoplaying" class="carousel slide">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container text-center">
                        <p class="mb-8">"Encontré una casa perfecta gracias a un compañero. ¡Todo fue fácil y seguro!"
                        </p>
                        <footer class="blockquote-footer">Javier R., Programador Web Atos</footer>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container text-center">
                        <p class="mb-8">"Durante mi estancia, pude desconectar y disfrutar de mis vacaciones. "
                        </p>
                        <footer class="blockquote-footer">Irene R., Programadora Web Atos</footer>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container text-center">
                        <p class="mb-8">"¡Pasé unos días increíbles y encontré lo que buscaba!"</p>
                        <footer class="blockquote-footer">Anastasia D., Programadora Web Atos</footer>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container text-center">
                        <p class="mb-8">"Una forma genial de encontrar alojamiento entre compañeros de confianza."</p>
                        <footer class="blockquote-footer">Carlos M., Analista de Datos</footer>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button"    data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                    <span class="visually-hidden" >Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>



    <!-- Contenedor 5: CTA final -->
    <section class="text-white text-center py-5" style="background: linear-gradient(to right, #007BFF, #FFA500);">
        <div class="container">
            <h2>¿Listo para encontrar tu nuevo hogar?</h2>
            <p>¿A qué esperas?</p>
            <a href="/registro" class="btn btn-lg mt-3" style="background-color: #FFA500; color: white;">Empieza
                ahora</a>
        </div>
    </section>

</main>